html {
  font-size: 14px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

/* remove change background color when autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
}
